@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #DFECE6;

  --primary: #3a51c5;
  --primaryDark: #3449b1;
  --primaryLight: #7585d6;

  --secondary: #3a96c5;
  --secondaryDark: #3487b1;
  --secondaryLight: #75b6d6;

  --tertirary: #693ac5;
  --tertiraryDark: #5f34b1;
  --tertiraryLight: #9675d6;
}

* {
  box-sizing: border-box;

  @apply text-gray-800;
}

.flex-container {
  @apply flex items-center justify-center flex-col min-h-screen;
}

.btn {
  @apply w-full p-2 text-center rounded;
}

.btn--primary {
  @apply bg-primary-light text-white transition duration-100 ease-in;
}

.btn--primary:hover {
  @apply bg-primary transition duration-100 ease-in shadow-sm;
}

.link {
  @apply p-1 no-underline italic;
}

.link--primary {
  @apply text-primary border-b border-transparent transition duration-100 ease-in;
}

.link--primary:hover {
  @apply border-b border-primary transition duration-100 ease-in;
}
